InternationalBusinessMen/InternationalBusinessService.Client/Connected Services/InternationalBusinessService_Client_1_0/InternationalBusinessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InternationalBusinessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IInternationalBusinessService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44321/Service/InternationalBusinessService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44321/Service/InternationalBusinessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44321/Service/InternationalBusinessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InternationalBusinessDTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternationalBusinessService_GetRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRates" />
  </wsdl:message>
  <wsdl:message name="IInternationalBusinessService_GetRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IInternationalBusinessService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="IInternationalBusinessService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IInternationalBusinessService_GetTransactionsBySku_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsBySku" />
  </wsdl:message>
  <wsdl:message name="IInternationalBusinessService_GetTransactionsBySku_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsBySkuResponse" />
  </wsdl:message>
  <wsdl:portType name="IInternationalBusinessService">
    <wsdl:operation name="GetRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternationalBusinessService/GetRates" message="tns:IInternationalBusinessService_GetRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternationalBusinessService/GetRatesResponse" message="tns:IInternationalBusinessService_GetRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternationalBusinessService/GetTransactions" message="tns:IInternationalBusinessService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternationalBusinessService/GetTransactionsResponse" message="tns:IInternationalBusinessService_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsBySku">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternationalBusinessService/GetTransactionsBySku" message="tns:IInternationalBusinessService_GetTransactionsBySku_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternationalBusinessService/GetTransactionsBySkuResponse" message="tns:IInternationalBusinessService_GetTransactionsBySku_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInternationalBusinessService" type="tns:IInternationalBusinessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRates">
      <soap:operation soapAction="http://tempuri.org/IInternationalBusinessService/GetRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/IInternationalBusinessService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsBySku">
      <soap:operation soapAction="http://tempuri.org/IInternationalBusinessService/GetTransactionsBySku" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IInternationalBusinessService" type="tns:IInternationalBusinessService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IInternationalBusinessService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRates">
      <soap:operation soapAction="http://tempuri.org/IInternationalBusinessService/GetRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/IInternationalBusinessService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsBySku">
      <soap:operation soapAction="http://tempuri.org/IInternationalBusinessService/GetTransactionsBySku" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InternationalBusinessService">
    <wsdl:port name="BasicHttpBinding_IInternationalBusinessService" binding="tns:BasicHttpBinding_IInternationalBusinessService">
      <soap:address location="http://localhost:26738/Service/InternationalBusinessService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IInternationalBusinessService" binding="tns:BasicHttpsBinding_IInternationalBusinessService">
      <soap:address location="https://localhost:44321/Service/InternationalBusinessService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>