InternationalBusinessMen/InternationalBusinessService.Client/Connected Services/InternationalBusinessService_Client_1_0/InternationalBusinessService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InternationalBusinessDTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InternationalBusinessDTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rates" nillable="true" type="tns:Rates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRates" nillable="true" type="tns:ArrayOfRates" />
  <xs:complexType name="Rates">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rates" nillable="true" type="tns:Rates" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sku" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
</xs:schema>