InternationalBusinessMen/InternationalBusinessService.Client/Connected Services/InternationalBusinessService_Client_1_0/InternationalBusinessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44321/Service/InternationalBusinessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InternationalBusinessDTOs" />
  <xs:element name="GetRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InternationalBusinessDTOs" minOccurs="0" name="GetRatesResult" nillable="true" type="q1:ArrayOfRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InternationalBusinessDTOs" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q2:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsBySku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsBySkuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InternationalBusinessDTOs" minOccurs="0" name="GetTransactionsBySkuResult" nillable="true" type="q3:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>